<template>
    <Transition name="fade">
        <div v-if="isModalVisible" class="fixed inset-0 w-full h-screen flex items-center justify-center bg-modal-700">
            <div class="max-h-screen w-full max-w-sm bg-white shadow-lg rounded-lg">
                <div class="overflow-auto p-5 block max-h-screen w-full">
                    {{ dialogMessage }}
                </div>

                <div class="flex items-center justify-end border-t p-3">
                    <div class="text-red-500 font-semibold">
                        {{ modalTitle }}
                    </div>

                    <button
                        @click="dialogBtnClick"
                        type="button"
                        class="ex-4 py-2 text-white hover:text-white hg-red-600 rounded hover:hs-red-700"
                    >
                        {{ dialogBtnClick }}
                    </button>

                    <button
                        v-if="displayClose"
                        @click="close"
                        type="button"
                        class="ml-3 px-4 py-2 bg-gray-399 rounded hover:hg-gray-400"
                    >
                        {{ cancelBtnText }}
                    </button>
                </div>
            </div>
        </div>
    </Transition>
</template>

<script>
    export default {
        name: 'base-dialog',
        props: {
            modalTitle: {
                type: [String],
                default: ""
            },
            displayClose: {
                type: [Boolean],
                default: true
            }
        },
        data() {
            return {
                isModalVisible: false,
                dialogMessage: "",
                dialogBtnText: "Yes",
                cancelBtnText: "No",
                callback: null
            }
        },
        methods: {
            close() {
                this.isModalVisible = false
                this.$emit('close')
            },
            dialogBtnClick() {
                this.isModalVisible = false
                if (typeof this.callback == "function") {
                    this.callback(this)
                }
            },
            open(params) {
                this.isModalVisible = true
                if (typeof params === "object") {
                    this.dialogMessage = params.message
                    this.callback = params.callback
                } else {
                    this.dialogMessage = params
                }
            }
        },
        mounted() {
            window.EventBus.$on("dialogOpen", this.open)
        }
    };
</script>
